<style media="screen">
  li {
    /*float: center;*/
    display: inline;
    text-align: center;
  }
</style>
<hr>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Persons">Persons List</a></li>
    <li><a href="/Property">Property List</a></li>
  </ul>
</nav>
<hr>
